.appointment-section {
   position: absolute;
   top: 100px;
   right: 0px;
   left: 0px;
}
.appointment-card{
   border: none ;
   box-shadow: 0 0 10px #f3f0f0b0;
}

.appointment-card p{
   font-size: 14px;
   font-weight: 200;
}
.my-modal{
   position: fixed;
   width: 40%;
   height: 400px;
   background: #000;
}
.text-center.py-5.my-5 {
   position: relative;
}
a.delete {
   position: absolute;
   top: -60px;
   right: -10px;
   font-size: 25px;
   color: red;
   cursor: pointer;
   border: none;
   background: none;
}
a.delete:focus{
   outline: none;
}